name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.96e8d9b7-8757-4c30-9f66-7a06ea02973a}}
          heroku_app_name: "bcfmcaseapi"
          heroku_email: "salihcanyce@gmail.com"
          usedocker: true