name: Deploy to heroku.


on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2


      - name: Build, Push and Release a Docker container to Heroku. # Your custom step name
        uses: gonuit/heroku-docker-deploy@v1.3.3 # GitHub action name (leave it as it is).
        with:

          email: ${{secrets.HER_EMAIL}}
          heroku_api_key: ${{secrets.SECRETNAME}}
          heroku_app_name: ${{secrets.HEROKUAPPNAME}}


          dockerfile_directory: ./

          dockerfile_name: dockerfile


          docker_options: "--no-cache"

          process_type: web
